{% extends 'layouts/application.html' %}

{% block content %}
	{% include 'main/promo.html' %}
  {% include 'main/feedback.html' %}
  {% include 'main/features.html' %}
  <div class="section-divider"></div>
  {% include 'main/inventory.html' %}
  <div class="section-divider"></div>
  {% include 'main/recommendations.html' %}
  {% include 'main/gallery-wide.html' %}
  <div class="section-divider"></div>
  {% include 'main/certificates.html' %}
  <div class="section-divider"></div>
{% endblock %}
