@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-regular-webfont.eot');
  src: url('../fonts/gilroy-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy-regular-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-regular-webfont.woff') format('woff'),
  url('../fonts/gilroy-regular-webfont.ttf') format('truetype'),
  url('../fonts/gilroy-regular-webfont.svg#gilroyregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-medium-webfont.eot');
  src: url('../fonts/gilroy-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy-medium-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-medium-webfont.woff') format('woff'),
  url('../fonts/gilroy-medium-webfont.ttf') format('truetype'),
  url('../fonts/gilroy-medium-webfont.svg#gilroymedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-semibold-webfont.eot');
  src: url('../fonts/gilroy-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy-semibold-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-semibold-webfont.woff') format('woff'),
  url('../fonts/gilroy-semibold-webfont.ttf') format('truetype'),
  url('../fonts/gilroy-semibold-webfont.svg#gilroysemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-bold-webfont.eot');
  src: url('../fonts/gilroy-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy-bold-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-bold-webfont.woff') format('woff'),
  url('../fonts/gilroy-bold-webfont.ttf') format('truetype'),
  url('../fonts/gilroy-bold-webfont.svg#gilroybold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-extrabold-webfont.eot');
  src: url('../fonts/gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-extrabold-webfont.woff') format('woff'),
  url('../fonts/gilroy-extrabold-webfont.ttf') format('truetype'),
  url('../fonts/gilroy-extrabold-webfont.svg#gilroyextrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}
