.icon {
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: 1;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-sprite {
  &:before {
    content: '';
    display: inline-block;
    background-image: url('../images/sprite.png');
    position: relative;
  }

  &.icon-arrow-prev-white {
    @include sprite('icon-arrow-prev-white');
  }

  &.icon-arrow-next-white {
    @include sprite('icon-arrow-next-white');
  }

  &.icon-wallet {
    @include sprite('icon-wallet');
  }

  &.icon-shine {
    @include sprite('icon-shine');
  }

  &.icon-temperature {
    @include sprite('icon-temperature');
  }

  &.icon-save-form {
    @include sprite('icon-save-form');
  }

  &.icon-assembly {
    @include sprite('icon-assembly');
  }

  &.icon-assembly {
    @include sprite('icon-assembly');
  }

  &.icon-strength {
    @include sprite('icon-strength');
  }

  &.icon-feather {
    @include sprite('icon-feather');
  }

  &.icon-check-white {
    @include sprite('icon-check-white');
  }

  &.icon-close {
    @include sprite('icon-close');
  }

  &.icon-send-email {
    @include sprite('icon-send-email');
  }
}

.icon-circle {
  border-radius: 100px;
  background-color: $white;
}

.icon-circle-large,
.icon-sprite.icon-circle-large {
  width: 105px;
  height: 105px;
}

.icon-border {
  border: 2px solid $white;
}

.icon-border-large,
.icon-sprite.icon-border-large {
  width: 94px;
  height: 94px;
}

