@mixin sprite($filename) {
  & {
    @if $filename == icon-arrow-next-white {
      height: 87px;
      width: 43px;
      min-width: 43px;
    }
    @if $filename == icon-arrow-prev-white {
      height: 87px;
      width: 43px;
      min-width: 43px;
    }
    @if $filename == icon-assembly {
      height: 62px;
      width: 64px;
      min-width: 64px;
    }
    @if $filename == icon-check-white {
      height: 30px;
      width: 39px;
      min-width: 39px;
    }
    @if $filename == icon-close {
      height: 34px;
      width: 32px;
      min-width: 32px;
    }
    @if $filename == icon-coextrusion {
      height: 42px;
      width: 74px;
      min-width: 74px;
    }
    @if $filename == icon-facade {
      height: 57px;
      width: 88px;
      min-width: 88px;
    }
    @if $filename == icon-send-email {
      height: 40px;
      width: 88px;
      min-width: 88px;
    }
    @if $filename == icon-strength {
      height: 87px;
      width: 92px;
      min-width: 92px;
    }
    @if $filename == icon-temperature {
      height: 72px;
      width: 72px;
      min-width: 72px;
    }
    @if $filename == icon-toggle {
      height: 26px;
      width: 30px;
      min-width: 30px;
    }
    @if $filename == icon-watertightness {
      height: 96px;
      width: 96px;
      min-width: 96px;
    }
    @if $filename == icon-weigher {
      height: 68px;
      width: 64px;
      min-width: 64px;
    }
  }

  &::before {
    @if $filename == icon-arrow-next-white {
      background-position: 0px -168px;
      height: 87px;
      width: 43px;
    }
    @if $filename == icon-arrow-prev-white {
      background-position: -252px 0px;
      height: 87px;
      width: 43px;
    }
    @if $filename == icon-assembly {
      background-position: -188px -68px;
      height: 62px;
      width: 64px;
    }
    @if $filename == icon-check-white {
      background-position: -252px -87px;
      height: 30px;
      width: 39px;
    }
    @if $filename == icon-close {
      background-position: -252px -117px;
      height: 34px;
      width: 32px;
    }
    @if $filename == icon-coextrusion {
      background-position: -43px -208px;
      height: 42px;
      width: 74px;
    }
    @if $filename == icon-facade {
      background-position: -72px -96px;
      height: 57px;
      width: 88px;
    }
    @if $filename == icon-send-email {
      background-position: -43px -168px;
      height: 40px;
      width: 88px;
    }
    @if $filename == icon-strength {
      background-position: -96px 0px;
      height: 87px;
      width: 92px;
    }
    @if $filename == icon-temperature {
      background-position: 0px -96px;
      height: 72px;
      width: 72px;
    }
    @if $filename == icon-toggle {
      background-position: -188px -130px;
      height: 26px;
      width: 30px;
    }
    @if $filename == icon-watertightness {
      background-position: 0px 0px;
      height: 96px;
      width: 96px;
    }
    @if $filename == icon-weigher {
      background-position: -188px 0px;
      height: 68px;
      width: 64px;
    }
  }
}
