@mixin sprite($filename) {
  & {
    @if $filename == icon-arrow-next-white {
      height: 87px;
      width: 43px;
      min-width: 43px;
    }
    @if $filename == icon-arrow-prev-white {
      height: 87px;
      width: 43px;
      min-width: 43px;
    }
    @if $filename == icon-assembly {
      height: 47px;
      width: 67px;
      min-width: 67px;
    }
    @if $filename == icon-check-white {
      height: 30px;
      width: 39px;
      min-width: 39px;
    }
    @if $filename == icon-close {
      height: 33px;
      width: 32px;
      min-width: 32px;
    }
    @if $filename == icon-feather {
      height: 62px;
      width: 69px;
      min-width: 69px;
    }
    @if $filename == icon-save-form {
      height: 72px;
      width: 61px;
      min-width: 61px;
    }
    @if $filename == icon-send-email {
      height: 39px;
      width: 87px;
      min-width: 87px;
    }
    @if $filename == icon-shine {
      height: 76px;
      width: 72px;
      min-width: 72px;
    }
    @if $filename == icon-strength {
      height: 64px;
      width: 69px;
      min-width: 69px;
    }
    @if $filename == icon-temperature {
      height: 61px;
      width: 69px;
      min-width: 69px;
    }
    @if $filename == icon-wallet {
      height: 71px;
      width: 68px;
      min-width: 68px;
    }
  }

  &::before {
    @if $filename == icon-arrow-next-white {
      background-position: -201px -87px;
      height: 87px;
      width: 43px;
    }
    @if $filename == icon-arrow-prev-white {
      background-position: -201px 0px;
      height: 87px;
      width: 43px;
    }
    @if $filename == icon-assembly {
      background-position: -244px 0px;
      height: 47px;
      width: 67px;
    }
    @if $filename == icon-check-white {
      background-position: -244px -47px;
      height: 30px;
      width: 39px;
    }
    @if $filename == icon-close {
      background-position: -244px -77px;
      height: 33px;
      width: 32px;
    }
    @if $filename == icon-feather {
      background-position: -69px -76px;
      height: 62px;
      width: 69px;
    }
    @if $filename == icon-save-form {
      background-position: -140px 0px;
      height: 72px;
      width: 61px;
    }
    @if $filename == icon-send-email {
      background-position: -69px -140px;
      height: 39px;
      width: 87px;
    }
    @if $filename == icon-shine {
      background-position: 0px 0px;
      height: 76px;
      width: 72px;
    }
    @if $filename == icon-strength {
      background-position: 0px -76px;
      height: 64px;
      width: 69px;
    }
    @if $filename == icon-temperature {
      background-position: 0px -140px;
      height: 61px;
      width: 69px;
    }
    @if $filename == icon-wallet {
      background-position: -72px 0px;
      height: 71px;
      width: 68px;
    }
  }
}
