@import 'fonts';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/root';

html,
body {
  background: var(--white);
}

html {
  font-size: 16px;
  line-height: 1.15;
}

body {
  font-family: var(--font-family-sans-serif);
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: var(--gray-dark);
  letter-spacing: .2ex;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  margin: 0 0 $headings-margin-bottom;
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

.js-link {
  color: var(--gray-dark);
}

.sections-tabs .section-tab {
  color: var(--gray-dark);
}

.sections-tabs .section-tab.active {
  color: var(--primary);
  border-color: var(--primary);
  border-radius: 100px;
}

.calc-drain {
  color: var(--gray-dark);
  padding: 0 15px;

  @include media-breakpoint-down(sm) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.calc-drain h3,
.calc-drain h4 {
  font-size: $h1-font-size;
  font-weight: $headings-font-weight;
  text-transform: uppercase;
  letter-spacing: .2ex;
  margin-bottom: 3.125rem;

  @include media-breakpoint-down(sm) {
    font-size: 1.875rem; // 30px
    margin-bottom: 1.25rem; // 20px
  }
}

.calc-drain .description {
  background-color: transparent;
  font-size: 1.125rem;
  line-height: 1.667;
  max-width: 740px;
  padding: 0;
  margin: 0 auto 3.125rem;
  color: var(--gray-dark);

  @include media-breakpoint-down(sm) {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.25rem; // 20px
  }
}

.calc-drain-items .calc-drain-item {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid var(--blue-light);

  @include media-breakpoint-down(sm) {
    padding: 30px 20px;
    margin-left: -20px;
    margin-right: -20px;
  }

  &:last-child {
    border-bottom: 1px solid var(--blue-light);
    padding-bottom: 100px;

    @include media-breakpoint-down(sm) {
      padding-bottom: 50px;
    }
  }

  .title span {
    font-size: 24px;
    font-weight: 500;
    background-color: var(--primary);
    color: var(--white);
    padding: 0;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    line-height: 50px;

    @include media-breakpoint-down(sm) {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 19px;
    }
  }

  .title .name {
    padding: 6px 0 6px 80px;
    font-size: 1.875rem;
    line-height: 1.2666;
    font-weight: 500;
    color: var(--gray-dark);
    min-height: 50px;

    @include media-breakpoint-down(sm) {
      font-size: 1.125rem;
      line-height: 1.667;
      padding-left: 60px;
      min-height: 40px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  .title .roof {
    margin-left: 40px;
    margin-top: -20px;
    margin-bottom: -20px;

    @include media-breakpoint-down(sm) {
      margin-top: 15px;
      margin-bottom: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 190px;
      white-space: nowrap;
    }

    .roof-item label {
      width: 100px;
      height: 100px;
      padding: 0;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 100px;
      text-transform: capitalize;
      border-radius: 100px;
      background: var(--blue-light);
      color: var(--blue);

      @include media-breakpoint-down(sm) {
        width: 90px;
        height: 90px;
        line-height: 90px;
      }
    }

    .roof-item input:checked + label {
      background: var(--blue);
      color: var(--white);
      cursor: pointer;
      pointer-events: none;
    }

    .roof-item + .roof-item {
      margin-left: 10px;
    }
  }
}

.calc-drain-item fieldset {
  margin: 20px 0 -40px 60px;
  white-space: nowrap;

  @include media-breakpoint-down(sm) {
    margin-left: -12px;
    margin-bottom: -30px;
  }
}

.calc-drain-item fieldset .featureselector-block {
  margin-left: 10px;

  @include media-breakpoint-down(sm) {
    margin-left: 12px;
  }
}

.calc-drain-item fieldset .featureselector-block label {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px 0;
  border-width: 0;
  width: 140px;
  height: 260px;

  @include media-breakpoint-down(sm) {
    width: 47px;
    height: 90px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.calc-drain-item fieldset label .color-selector-probe {
  width: 120px;
  height: 120px;
  border-radius: 0;
  margin-right: 0;
  border-width: 0;

  @include media-breakpoint-down(sm) {
    width: 47px;
    height: 47px;
  }
}

.calc-drain-item fieldset label[for=input_red] .color-selector-probe { background-color: var(--red) !important; }
.calc-drain-item fieldset label[for=input_grey] .color-selector-probe { background-color: var(--gray) !important;; }
.calc-drain-item fieldset label[for=input_green] .color-selector-probe { background-color: var(--green) !important;; }
.calc-drain-item fieldset label[for=input_brown] .color-selector-probe { background-color: var(--brown) !important;; }
.calc-drain-item fieldset label[for=input_white] .color-selector-probe { border: 1px solid $gray-600 !important;; }

.calc-drain-item fieldset input:checked + label .color-selector-probe::before {
  display: none;
}

.calc-drain-item fieldset input:checked + label {
  cursor: default;
  pointer-events: none;
  background-color: var(--blue-light);
}

.calc-drain-item fieldset input:checked + label::before {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 39px;
  height: 30px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAeCAYAAACv1gdQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RUZGMjRDODkyQjVBMTFFODhEQzE5NzgwOUMwNkM1NDUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RUZGMjRDOEEyQjVBMTFFODhEQzE5NzgwOUMwNkM1NDUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpFRkYyNEM4NzJCNUExMUU4OERDMTk3ODA5QzA2QzU0NSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpFRkYyNEM4ODJCNUExMUU4OERDMTk3ODA5QzA2QzU0NSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PhlQdkYAAAPmSURBVHjavJh7SJNRFMDv5uY2n5mPdJppD11oGFlblPRXEFFBoEQohEVQQiREFFRQZP+EFdQf+UfQH2J/BJmVPbCCHprvlDR0S525OR9zD910Tud2O3f7vpi6ze+bcwcO37i799zfd+6559zvcjDGyJNUN8jRGstW0BJQKWgdaAWonv4zP0+CON7g1lLgxU8I+CHPM1NiUUykCI0bp1GfxoDsDrwPoJrofkGHA7DjIgG/Zk9GEoqPDvvfrtJOoc6BcbRgd8gAsJW0cYMMdlLA59XkbktcBEYkNSEa7dy8AfFCuC3Q70BQPQcTFglDeVWyTDGKWwLmLuoJE+roHyMezOYGCaxQJOBV7ZUk+wQjsjE+CmWnxZOfJdwggJ0OF/KfSTOTUWyUiNGYlLhI8ijgrTVYmID/VAYei4kQMh5nMFvJo43nxWg2PA6DymHn1PoJdj5CFFohhRhjA2aenUfdg1rys2LZhgCjN6LCBGWJ68OR2TKPRg3TD6G5HCA1LMDOgo0nBCw6XMDKY+19I2TeUpjvESJwtL6o773+rWsIz87ZMBG7w4F7VToM7UST3Pt6U+h3oa59ABvNs5iNTE5b8fu2fjJPMW3L3WjZ924VtlBg7tKjmsDVDU7A9BXALn78qcRTM1ZWYAZ4EfJCMP6cuz3a6O2G3yo8Z1vwakCh1pPBj0FTvYCVfupQYpNljhWY3mTB71r6iO0zS20So0VkKa3zCysakqt1uNq1xNuXgF363DnoF9gH11Ke8vTCJM+VZG2KR1CIVwxYUqhzoMSEcDk9EPQSKvivwG68L5OIUaQolHHwaydnULN8BM1YbcUQ/JWe+pBUIuRyOYyNbhHHILK/u5TjvQB2FRLrXWmGGIUJ+Yxt6EwW1KoYQXM2ez6AvfTWj3iuAnYkHFcczA9iALgjPQElxoSzBhuD41GL3AlW6AvMKVTM3GtVaLBtwc4qZkiqYSNa4wx+0/SHxNhRJmnJPajLm3uHfe7Y1Qgkc/zWtSsLmIAtgqMA7zT2DGM4rgQUTKMz41eNCgJ2jCnYMjgK8EEgPTiqN+PaZudSHmID5hGOrhb1kJSZ5D5fMqSdomPsCFswr3B01WjsUfvtwWGdCdf8cC7lfn/AfMLRHnRVDxsrsMGxSfzaFWMH/QVbEY4CvEkOBEwB4SsKPCYnYLtXA8YIjgYkHrRYfQMqR430UuatFowxHAV47cuvv143yQCAUYeCXYEAYwVHAd76Ch6cnp1f5jEqj+UECowo6+9WKPaX10UIy7NS45w1dUhrQv0aA4K0nQu1siOQH0gcPy9yjlCXMGmgldQljDmQYOQi558AAwBjrpXp4wfxYwAAAABJRU5ErkJggg==') 0 0 no-repeat;

  @include media-breakpoint-down(sm) {
    width: 26px;
    height: 20px;
    background-size: cover;
    bottom: 12px;
  }
}

.calc-drain-item fieldset label .color-selector-name {
  margin-top: 10px;
  font-size: 1rem;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.calc-drain-table .table {
  padding-top: 0;
  position: relative;
}

.calc-drain-table .calc-drain-sum {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  padding-top: 30px;
  border-top: 1px solid var(--blue-light);
  margin-top: 20px;

  @include media-breakpoint-down(sm) {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }

  .sum {
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--blue);
    padding-left: 0;
    margin-left: 10px;

    span.rub {
      font-size: 1.125rem;
      font-weight: 600;
    }
  }
}

.calc-drain h3.js-link {
  pointer-events: none;
  display: none;
}

.calc-drain h3.js-link span {
  border-bottom-width: 0;
}

.calc-drain-table .table .td {
  border-width: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.calc-drain-table .table .td:first-child {
  padding-left: 30px;
  padding-right: 30px;

  @include media-breakpoint-down(sm) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.calc-drain-table .table .td:last-child {
  padding-right: 10px;

  @include media-breakpoint-down(sm) {
    padding-right: 20px;
  }
}

.calc-drain-table .table .td input {
  width: 100px;
  border-color: $border-color;
  color: var(--gray-dark);

  @include media-breakpoint-down(sm) {
    width: 60px;
  }
}

.calc-drain-table .table .tr:hover .td,
.calc-drain-table .table .tr.active .td {
  background-color: var(--blue-light);
}

.calc-drain-table .table .tr.head-tr .td,
.calc-drain-table .table .tr.head-tr:hover .td {
  background: var(--blue);
}

.calc-drain-table .table .tr.head-tr .td:last-child::after {
  background: var(--blue);
}

.calc-drain-result .img {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.calc-drain-result .calc-drain-table {
  margin-left: 0;
  margin-right: 0;

  @include media-breakpoint-down(sm) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.calc-drain-result .calc-drain-table .table .td {
  border-width: 0;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 10px;
}

.calc-drain-result .calc-drain-table .table .tr .td:first-child {
  padding-left: 80px;

  @include media-breakpoint-down(sm) {
    padding-left: 20px;
  }
}

.calc-drain-result .calc-drain-table .table .tr .td:last-child {
  @include media-breakpoint-down(sm) {
    padding-right: 20px;
  }
}

.calc-drain-result .calc-drain-table .table .tr .td:nth-child(1) {
  max-width: 250px;
}

.calc-drain-result .calc-drain-table .table .tr .td:nth-child(2) {
  width: 75px;
}

.calc-drain-result .calc-drain-table .table .tr .td:nth-child(3) {
  width: 85px;
}

.calc-drain-result .calc-drain-table .table .tr .td:nth-child(4) {
  width: 90px;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.calc-drain-btn {
  justify-content: flex-end;

  @include media-breakpoint-down(sm) {
    padding: 30px 20px 0;
  }
}

.calc-drain-btn .btn,
.calc-drain-btn .btn:last-child {
  width: 230px;

  @include media-breakpoint-down(sm) {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.calc-drain-btn > div {
  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
  }
}

.calc-drain-btn .btn a {
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 100px;
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.calc-drain .download {
  color: inherit;
  font-size: inherit;
  border-width: 0;
}

.section-tabs--toggler {
  display: none;
}

.calc-drain-size {
  @include media-breakpoint-down(sm) {
    padding-top: 20px;
  }
}

.calc-drain-size .calc-drain-table {
  @include media-breakpoint-down(sm) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.calc-drain-size .img {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
